

venv/
.env
bedrock.py
claude.py
testing.ipynb
titan_image.py
llama3.py
__pycache__/
data/
faiss_index/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
